*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)25%, rgba(0,0,0,0.5)25%), url(12334.webp);
    background-position: center;
    background-size: cover;
    height: 109vh;  
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;

}
.icon { 
    width: 200px;
    float: left;
    height: 70px;

}
.logo{
    color:chocolate;
    font-style: italic; 
    font-size: 35px;
    padding-left: 20px;
    float:left;
    padding-top: 10px;

}
.menu{
    width: 400px;
    float: left;
    height: 70px;
    font-style: italic;

}
ul{
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;


}
ul li a{
    text-decoration: none;
    color: #fff;
    font-style: italic;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}
ul li a:hover{
    color: chocolate;
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;

}
.srch{
    font-style: italic;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #fff;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-radius: 25px;

}
.btn{
    width: 200px;
    height: 40px;
    background-color: chocolate;
    border: 2px solid chocolate;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.btn:focus{
    outline: none;

}
.srch:focus{
    outline: none;

}
